<tr>
    <td><%= video.date %></td>
    <td><%= video.title %></td>
    <td><%= video.description %></td>
    <td class="align-middle"><a href="/video" type="button" class="btn btn-success">Смотреть</a></td>
</tr>